@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #e5e5e5;
}

.container {
  background: #ffffff;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  place-items: center;
  height: 65px;
  position: fixed;
  /* box-shadow: 2px 1px 1px #888;
  opacity: 0.5; */
}
/* .nav-text{
  color: #E5E5E5;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24PX;
} */
/* .nav-section {
  background: #ffffff;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ffffff;
} */
.nav-section h4 {
  margin-left: 9rem;
  border-left: 1px solid #ffffff;
}
.logo-details {
  width: 97px;
  height: 65px;
  /* margin: auto; */
  z-index: 1;
  margin-left: 2rem;
  display: none;
}

.mobile-logo-details {
  width: 97px;
  height: 65px;
  /* margin: auto; */
  z-index: 1;
  margin-left: 2rem;
}
.mobile-logo-details img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* margin-left: 35px; */
}

.logo-details img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* margin-left: 35px; */
}

.menu-bar {
  color: #334d6e;
  position: fixed;
  top: 5%;
  right: 33%;
  margin-left: 1rem;
}

.sidebar-menu-bar {
  color: #334d6e;
  position: fixed;
  /* top: 5%;
  right: 33%; */
  top: -9%;
  right: -5%;
  margin-left: 1rem;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #ffffff;
  transition: all 0.5s ease;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  font-size: 12px;
  z-index: -1;
}
.sidebar div {
  margin-top: 5rem;
}

.nav-links {
  color: #334d6e;
  margin-bottom: 2.5rem;
  margin-left: 1rem;
}
.nav-links li {
  list-style: none;
  padding: 5px;
  margin: 1rem;
}
.nav-links li a {
  text-decoration: none;
  color: #334d6e;
}
#settings {
  margin-top: 3.5rem;
  /* margin-top: 3.5rem;
  width: 259px;
  border-top: 1px solid #cccc;
  margin-left: 0; */
}
.showMenu {
  display: block;
}
.sidebar.show {
  display: block;
}
.menu-bar {
  display: none;
}
@media (max-width: 768px) {
  .sidebar {
    width: 50%;
    z-index: 1;
  }
  .close {
    display: none;
  }

  .menu-bar {
    display: block;
  }
  .nav-links span {
    font-size: 8px;
  }
  .nav-links h4 {
    width: 85%;
    margin: auto;
    font-size: 8px;
  }
  .logo-details {
    width: 120px;
    height: 65px;
    margin: auto /* z-index: 1; */;
    display: block;
  }
  .mobile-logo-details {
    display: block;
  }
  .logo-details img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .nav-section {
    /* display: block; */
    /* width: 95%;
    margin: auto;
    text-align: center; */
    background: #ffffff;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ffffff;
    transition: 0.3s ease;
    transition-delay: 0.1s;
    z-index: 1;
  }
  .container {
    background: #ffffff;
    width: 100%;
    display: grid;
    grid-template-columns: 120px 1fr;
    place-items: center;
    /* height: 65px; */
    height: 81px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .menu-bar {
    color: #334d6e;
    width: 65%;
  }

  .sidebar-menu-bar {
    display: block;
    color: #334d6e;
    width: 65%;
  }

  .show.side {
    display: none;
  }

  .home {
    left: 7px !important;
  }
  /* .settings {
    width: 195px;
  } */
}

/* .mobile-logo-details{
      width: 97px;
      height: 65px;
      z-index: 1;
      ;
  }
  
  .mobile-logo-details img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  } */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.home-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #FFFFFF;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #334D6E;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #334D6E;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.logo-details{
  width: 150px;
  height: 85px !important;
}
.logo-details img{
  height: 100%;
  width: 100%;
  object-fit:cover ;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .active {
background: red;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #334D6E;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #334D6E;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: none;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}

.home-section{
  position: relative;
  background: #FFFFFF;
  height: 100px;
  left: 260px;
  box-shadow: 2px 0 0 0 #334D6E;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-bell,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-bell{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
.sub-menu .active{
background: yellow;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
} */

.home {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 270px;
  height: 100vh;
  /* width: calc(100% - 250px); */
  background-color: var(--body-color);
  transition: var(--tran-05);
  position: fixed;
}
.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.alert-primary {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}
.alert-primary .alert-link {
  color: #06357a;
}

.alert-secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}
.alert-secondary .alert-link {
  color: #34383c;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.alert-success .alert-link {
  color: #0c4128;
}

.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}
.alert-info .alert-link {
  color: #04414d;
}

.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}
.alert-warning .alert-link {
  color: #523e02;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.alert-danger .alert-link {
  color: #6a1a21;
}

.alert-light {
  color: #636464;
  background-color: #fefefe;
  border-color: #fdfdfe;
}
.alert-light .alert-link {
  color: #4f5050;
}

.alert-dark {
  color: #141619;
  background-color: #d3d3d4;
  border-color: #bcbebf;
}
.alert-dark .alert-link {
  color: #101214;
}
